<footer>
  <div class='container'>
    <%= link_to 'Help', '#', class: 'footer-link' %>
    <%= link_to 'Email us', '#', class: 'footer-link' %>
    <%= link_to 'Upgrade your plan', '#', class: 'footer-link' %>
    <%= link_to '●●●', '#', class: 'footer-link' %>
  </div>
</footer>

