<article>
  <h3>Need help getting started?</h3>
  <%= link_to 'Read help docs', '#', class: 'link side-nav-link' %>
  <%= link_to 'View example case studies', '#', class: 'link side-nav-link' %>
  <%= link_to 'Watch training videos', '#', class: 'link side-nav-link' %>
</article>

