.btn {
  border: none;
  border-radius: 4px;
  display: inline-block;
  color: $white;
  font-size: 1.2rem;
  padding: 1.2rem 3rem;
}

.js-upload-button {
  @include button-bg($abbey);
}

.js-submit-form-button {
  @include button-bg($cerulean);
}

.js-submit-form-button.disabled {
  @include button-bg($hawkes-blue);
  cursor: default;
}
